/* ////////////////////////////////////////// */
/*///////////////   STYLES   /////////////////*/
/* ////////////////////////////////////////// */

body{
    background: rgb(200,200,200);
    color: black;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
}

/* ////////////////////// */
/*HEADER*/
/* ////////////////////// */

header{
    background-color: rgb(50,50,50);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    height: 500px;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

header a {
    color: white;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

header .mobile {
    display: none;
}

nav {
    margin: 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    background-color: rgb(50,50,50);
    border-radius: 10px;
    color: white;
    display: inline-block;
    line-height: 20px;
    margin: 0 20px;
    padding: 10px;
    text-align: center;
}

nav ul li.logo {
    background-image: url("images/sci fi omnitool.jpg");
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 200px;
    border-radius: 50%;
    width: 150px;
}

header nav ul li.logo a{
    color: rgb(200,200,200);
    font-size: 40px;
    font-weight: bold;
    line-height: 100px;
}

nav li:hover {
    background-color: rgba(6, 95, 6, 0.849);
}

nav a:hover {
    font-weight: bold;
    color: white;
}

li.logo a:hover {
    color: white;
    font-size: 45px;
}

h1.pageDescript {
    display: inline-block;
    text-align: center;
    width: auto;
}

header h1 {
    background-color: rgb(50,50,50); 
    border-radius: 20px;
    color: white;"
    font-size: 40px;
    padding: 10px;    
}

img.pageImg {
    max-height: 350px;
    max-width: 95%;
}

/* ////////////////////// */
/*MIDDLE SECTION*/
/* ////////////////////// */

section {
    background-color: rgb(200,200,200);
    background-position-x: center;
}


div.page {
    color: black;
    width: 100%
}

p.bodyText {
    text-align: justify;
    text-indent: 35px;
}

.description {
    font-size: 25px;
    line-height: 35px;
    margin: 0;
    padding: 10px 20%;
    text-align: center;
}

section.features {
    color: gray;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 10px;
}

section.features figure {
    color: rgb(50,50,50);
    font-weight: bold;
    height: 100%;
    margin: 20px;
    text-align: center;
    text-transform: uppercase;
    width: 33%;
}

section.features figure img {
    border: 1px solid white;
    border-radius: 20%;
    box-shadow: green 0 0 10px;
    height: 20em;                  /*This is the section that needs to be made responsive still*/
    /* object-fit: scale-down; */
    /* width: auto;  */
    max-width: 100%;
}


/* ////////////////////// */
/*FOOTER*/
/* ////////////////////// */

footer {
    background: black;
    color: rgb(199, 199, 199);
    font-size: 15px;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
}

footer div {
    display: inline-block;
    margin: 0 20px;
    vertical-align: middle;
}

footer img {
    height: 3em;
}

footer img:hover {
    height: 4em;
}

/* ////////////////////// */
/*RESPONSIVE RULES */
/* ////////////////////// */

@media screen and (max-width: 1100px) {
    body {
        overflow-x: hidden;
        width: 100%;
    }

    header {
        background-size: 100% 100%;
        width: 100%;
    }
    header .mobile {
        display: inline-block;
        margin: 10px 5px;
        flex-wrap: wrap;
    }
    header .desktop {
        display: none;
    }
    nav li {
        line-height: 20px;
        margin: 0;
    }
    header .logo {
        background-size: 65%;
        height: 100px;
        margin: 20px 0 0 0;
    }

    header nav ul li.logo a {
        color: white;
    }

    section.features {
        width: 100%;
    }

    p.bodyText {
        text-align: left;
    }

    footer div {
        margin: 0 5px;
    }

}