/* ////////////////////////////////////////// */
/*///////////////   STYLES   /////////////////*/
/* ////////////////////////////////////////// */

body{
    background: white;
    color: black;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* ////////////////////// */
/*HEADER*/
/* ////////////////////// */

header{
    background-color: rgb(50,50,50);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    height: 500px;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

header a {
    color: white;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

header .mobile {
    display: none;
}

nav {
    margin: 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    background-color: rgb(50,50,50);
    border-radius: 10px;
    color: white;
    display: inline-block;
    line-height: 20px;
    margin: 0 20px;
    padding: 10px;
    text-align: center;
}

nav ul li.logo {
    background-image: url("images/sci fi omnitool.jpg");
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 200px;
    border-radius: 50%;
    /* height: 100px; */
    width: 150px;
}

header nav ul li.logo a{
    color: rgb(200,200,200);
    font-size: 40px;
    font-weight: bold;
    line-height: 100px;
}

nav li:hover {
    background-color: rgba(6, 95, 6, 0.849);
}

nav a:hover {
    font-weight: bold;
    color: white;
}

li.logo a:hover {
    color: white;
    font-size: 45px;
}

h1.pageDescript {
    display: inline-block;
    text-align: center;
    width: auto;
}

header h1 {
    background-color: rgb(50,50,50); 
    border-radius: 20px;
    color: white;"
    font-size: 40px;
    padding: 10px;    
}

img.pageImg {
    width: 75%;
}

/* ////////////////////// */
/*RESPONSIVE RULES */
/* ////////////////////// */

@media screen and (max-width: 1100px) {
    header {
        background-size: 100% 100%;
        /* line-height: 30px; */
    }
    header .mobile {
        display: inline-block;
        margin: 10px 5px;
        flex-wrap: wrap;
    }
    header .desktop {
        display: none;
    }
    nav li {
        /* font-size: 10vw; */
        line-height: 20px;
        margin: 0;
    }
    header .logo {
        background-size: 85%;
        height: 100px;
        margin: 20px 0 0 0;
    }

    header nav ul li.logo a {
        color: white;
    }

    div.pageDescript {
        height: 50px;
    }

    div.pageDescript h1 {
        font-size: 30px;
        line-height: 40px;
    }
}

/* ////////////////////// */
/*MIDDLE SECTION*/
/* ////////////////////// */

.description {
    font-size: 25px;
    line-height: 35px;
    margin: 20px;
    padding: 0% 20%;
    text-align: center;
}

div.page {
    color: black;
}

p.bodyText {
    text-align: justify;
}

section.features {
    background: white;
    color: gray;
    display: flex;
    flex-direction: row;
    margin: 30px;
    width: 100%;
}

section.features figure {
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    width: 33%;
    height: 100%;
}

section.features figure img {
    border: 1px solid white;
    border-radius: 20%;
    box-shadow: green 0 0 10px;
    height: 300px;                  /*This is the section that needs to be made responsive still*/
    /* object-fit: scale-down; */
    /* width: auto;  */
}

/* .features figure img:hover {
    height: 325px;
} */

/* ////////////////////// */
/*FOOTER*/
/* ////////////////////// */

footer {
    background: black;
    color: rgb(199, 199, 199);
    font-size: 15px;
    padding: 10px 20px;
    text-align: center;
}

footer div {
    display: inline-block;
    margin: 0 20px;
    vertical-align: middle;
}

footer img {
    height: 3em;
}

footer img:hover {
    height: 4em;
}

